@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-100 {
  --tw-rotate: 100deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.max-w-screen-md {
  max-width: 28rem; /* Adjust the maximum width as needed */
}

.animate-bounce-x {
  animation: bounceHorizontal 1s infinite;
}

@keyframes bounceHorizontal {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
