@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-100 {
  --tw-rotate: 100deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.max-w-screen-md {
  max-width: 28rem; /* Adjust the maximum width as needed */
}

.animate-bounce-x {
  animation: bounceHorizontal 1s infinite;
}

@keyframes bounceHorizontal {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animated-svg {
  width: 100%;
  max-width: 500px; /* Adjust max-width as needed */
}

.animated-path {
  stroke-dasharray: 1000; /* Length of the path */
  stroke-dashoffset: 1000; /* Length of the path */
  animation: draw 2s linear forwards; /* Adjust animation duration (5s in this case) */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}



@keyframes spin{
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.logo:nth-child(2) {
  color: red;
}

.logo.animating {
  span {
  display: inline-block;
  pointer-events: none;

    &.spin{
      animation: spin 0.5s 1;
    }
  }

}
